[submodule "src/crossbeam"]
	path = src/crossbeam
	url = https://gitlab.inria.fr/lrilling/crossbeam.git
	branch = dev/waitfree
[submodule "src/qemu"]
	path = src/qemu
	url = https://gitlab.inria.fr/msimonin/qemu.git
	branch = tantap
