.vscode
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

/build/
cloud-init*

*.cmd
*.ko
*.mod
*.symvers
*.order
*.o
*.mod.c
*.der
*.priv
*.pyc

# Binaries
libtansiv-timer.a
tansiv
tests
tests.sh
gettimeofday
send
titi
xen_tansiv_bridge

# Useful Makefiles
!src/xen/Makefile
!src/xen/Kernelspace/Makefile
!src/kvm/Kernelspace/Makefile
