[submodule "src/crossbeam"]
	path = src/rust-deps/crossbeam
	url = https://gitlab.inria.fr/lrilling/crossbeam.git
	branch = dev/waitfree
[submodule "src/qemu"]
	path = src/qemu
	url = https://gitlab.inria.fr/lcossero/qemu-vmi.git
	branch = kvmi-v12
[submodule "tools/packer"]
	path = tools/packer
	url = https://gitlab.inria.fr/tansiv/packer.git
